# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo hello
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo world
  show_env_var:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run:
          name: "echo an env var that is part of my project"
          command: |
            echo $MY_ENV_VAR

# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  test_env_var:
    # Run the welcome/run job in its own container
    jobs:
      - show_env_var
      - print_hello
      - print_world:
          requires:
            - print_hello